.container {
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	width: 100%;
	background-color: #2f1d58;
	height: 80vh;
	overflow: auto;
	flex-direction: row;
	border-style: dashed;
}
.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 30%;
	height: 80vh;
	margin: 5px;
	background-color: lightblue;
}
.main {
	display: flex;
	flex-grow: initial;
	width: 70%;
	height: 80vh;
	margin: 5px;
	background-color: lightblue;
}
.element {
	display: flex;
	background-color: aliceblue;
	border-style: dashed;
	height: 20vh;
}
@media screen and (max-width: 639px) {
	.container {
		flex-direction: column-reverse;
	}
	.sidebar {
		flex-direction: row;
		width: 100%;
		height: 80px;
	}
	.main {
		width: 100%;
	}
	.element {
		height: 40px;
		width: 100%;
	}
}
